# DATA UNDERSTANDING ANALYSIS ON THE POIs AND ACTIVITIES

**IMPORT LIBRARIES**

In [35]:
# pandas is needed to read the csv file and to perform some basic operations on dataframes
import pandas as pd

**Read POI file**

In [12]:
df_poi = pd.read_csv('../../../datasets/POIsCompany.csv', sep=';') 
print ("The dataset contains", len(df_poi), "POIs.")

The dataset contains 87329 POIs.

In [14]:
df_poi.head(5)

   companyId             Long              Lat  radius  IsActive
0         90    23,9076793088    37,7332311403     100         1
1         90  22,224322546307  22,224322546307     100         1
2         90  22,224322546307  22,224322546307     100         1
3         90      23,73216946      37,97991271     100         1
4         90    23,7378290875     37,980696575     100         1

In [20]:
print("There are", len(df_poi["companyId"].unique()), "different companies")

There are 476 different companies

In [22]:
print("The radius ranges from", min(df_poi["radius"]), "to", max(df_poi["radius"]))

The radius ranges from 0 to 10000

In [44]:
print("The percentage of active points is", (round(df_poi["IsActive"].value_counts()[1]*100 / len(df_poi), 2)), "%")

The percentage of active points is 86.14 %

**Read Company Activity file**

In [54]:
df_act = pd.read_csv('../../../datasets/Company_activity.csv', sep=';') 
print ("The dataset contains", len(df_act), "companies.")

The dataset contains 460 companies.

In [55]:
df_act.head(5)

   companyId              Activity
0        180    DUST MANUFACTURING
1        210       ROAD ASSISTANCE
2        240  GARMENTS OF CLOTHING
3        270                 TRADE
4        300                  KTEL

In [57]:
comp_poi = df_poi["companyId"].unique()
comp_act = df_act["companyId"].unique()

In [61]:
print("The number of common companies among the two is", len(list(set(comp_poi) & set(comp_act))))

The number of common companies among the two is 184